.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 800px;
	margin-bottom: 50px;
	line-height: 1.6em;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.ok label {
	display: inline-block;
	cursor: pointer;
}

.ok input[type='radio'] {
	display: none;
}

.ok label:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: red;
}

.ok input[type='radio']:checked + label:before {
	background-color: green;
}
